// universal animation
.animation-simple-enter
  opacity 0

  &.animation-simple-enter-active
    opacity 1
    transition opacity 400ms ease-in

.animation-simple-leave
  opacity 1

  &.animation-simple-leave-active
    opacity 0
    transition opacity 400ms ease-in

